img{
    height: 450px;
  height: 450px; }
div.imagem-texto{
margin-left: 20px;
margin-right: 20px;
 display: flex;
 align-items: center;
 gap: 20px;}
.cabecalho{
    background-color: bisque;

}
body{
  background-color: blanchedalmond;
}