header{
   background-color: rgb(114, 112, 112);
   min-height: 80px;
   text-align: center;
   padding-top: 20px;
   

}
header h1{
color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
margin-bottom: 20px;

}
header p{
    color: rgb(250, 75, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.menu-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
.menu-nav li{
    display: inline-block;
}
.menu-nav li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}